<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Yamifood Restaurant - Responsive HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/public/resources/views/favicon.ico" type="/public/resources/views//x-icon">
    <link rel="apple-touch-icon" href="/public/resources/views/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/responsive.css">
	<!-- Custom CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/custom.css">
	<link rel="stylesheet" href="/public/resources/views/css/tree-viewer.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->
	{{>header}}
	<!-- End header -->
{{!-- Start user details --}}


<div>
    
    <form  class="content-cart " id="form-1" action='/hoadon' method="Post" >
    <div style="padding-left: 100px; text-shadow: 2px 2px #c4ff01; font-size: 55px;">
    {{!-- {{#each result}}
    
    <h2>ha{{this.Id_bill}}</h2>
    {{/each}} --}}
    <b>User's Bill</b><hr style="margin-top: -0.5rem;margin-bottom: 3rem;border: 0;border-top: 3px solid #7d7d7d;">
    </div>
    <table cellspacing="0" cellpadding="0" border="0" width="1325" style="border-collapse: collapse; float:right ">
        <tr>
            <td>
            <table cellspacing="0" cellpadding="1" border="0" width="1300" style="border-collapse: collapse;">
                <tr class="table-title">
                    <th>ID</th>
                    <th>Date</th>
                    <th>State</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            </td>
        </tr>
        <tr>
            <td>
            <div style="width:1320px; height:330px; overflow:auto;">
                <table cellspacing="0" cellpadding="1" border="1" width="1300" id="mytable" style="border-collapse: collapse;">
                {{#each result}}
                <tr>
                    <td>{{this.Id_bill}}</td>
                    <td>{{this.Date}}</td>
                    <td id="tragthai{{this.Id_bill}}">{{this.State}}</td>
                    <td><a href="/billdetail/{{this.Id_bill}}">Details</a>
                    </td>
                    <td>
                        <button id="btn{{this.Id_bill}}"><a href="/billconfirm/{{this.Id_bill}}" onclick="return confirm('Are you sure you got right product?');">Confirm</a></button>
                        <button id="btna{{this.Id_bill}}"><a href="/billcancel/{{this.Id_bill}}" onclick="return confirm('Are you sure you want to cancel?');">Cancel bill</a></button>
                    </td>
                </tr> 
                <script>
                    if(document.getElementById(`tragthai{{this.Id_bill}}`).innerText==1)
                        {
                            document.getElementById(`tragthai{{this.Id_bill}}`).innerText = 'waiting';
                            document.getElementById(`btn{{this.Id_bill}}`).style.display = 'none';
                            
                            
                        }
                    else if(document.getElementById(`tragthai{{this.Id_bill}}`).innerText==3)
                        {
                            document.getElementById(`tragthai{{this.Id_bill}}`).innerText = 'canceled';
                            document.getElementById(`btn{{this.Id_bill}}`).style.display = 'none';
                            document.getElementById(`btna{{this.Id_bill}}`).style.display = 'none';
                        }
                    else if((document.getElementById(`tragthai{{this.Id_bill}}`).innerText==2))
                        {
                            document.getElementById(`tragthai{{this.Id_bill}}`).innerText = 'success';
                            document.getElementById(`btn{{this.Id_bill}}`).style.display = 'none';
                            document.getElementById(`btna{{this.Id_bill}}`).style.display = 'none';
                        }
                    else
                        {
                            document.getElementById(`tragthai{{this.Id_bill}}`).innerText = 'delivering...';
                            document.getElementById(`btn{{this.Id_bill}}`).style.display = 'none';
                            document.getElementById(`btna{{this.Id_bill}}`).style.display = 'none';
                        }
                </script>
                {{/each}}
                
                </table>
                
            </div>
            </td>
        </tr>
    </table>
    </form>
</div>

{{!-- end user details --}}
	
	<!-- Start Contact info -->
	{{>contact}}
	<!-- End Contact info -->
	
	<!-- Start Footer -->
	{{>footer}}
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="/public/resources/views/js/jquery-3.2.1.min.js"></script>
	<script src="/public/resources/views/js/popper.min.js"></script>
	<script src="/public/resources/views/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/public/resources/views/js/jquery.superslides.min.js"></script>
	<script src="/public/resources/views/js/images-loded.min.js"></script>
	<script src="/public/resources/views/js/isotope.min.js"></script>
	<script src="/public/resources/views/js/baguetteBox.min.js"></script>
	<script src="/public/resources/views/js/form-validator.min.js"></script>
    <script src="/public/resources/views/js/contact-form-script.js"></script>
    <script src="/public/resources/views/js/custom.js"></script>
</body>
</html>